.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 20px;
}

.btn {
  width: 100px;
  height: 40px;
  margin-right: 10px;
  font: 16px sans-serif;
}

.container {
  margin: 20px;
}